<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <script >src="/js/app.js"</script>
        <title>About</title>
        
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        
         <img src="/img/weather.png">
         <p><i>This Website is developed and maintained by Ritam Singhvi and Amit Bhatt.</i></p>
         <p><i>This Website tells you about the weather of a particular location you entered,</i></p>
         <p><i>As of now it tells you the current tempurature,probability of rain and prediction about the climate for the day.</i></p>
         </div>
       {{>footer}}
    </body>


</html>