<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <script >src="/js/app.js"</script>
        <title>Help</title>
    </head>
    <body>
        <div class="main-content">
         {{>header}}
        <p><b>Usage Instructions:</b></p>
        <p>Enter the name of the location for which you want to get weather information.</p>
            <ul><li>If there is an error showing unable to connect then check your Internet connection and try again</li></ul>
        
        </div>
        <div><p><i>Connect us on linked in</i></p>
        <a href="https://in.linkedin.com/in/amitkumar-a-bhatt-b8097a171">Amit Bhatt</a>
        <a href="https://in.linkedin.com/in/ritam-singhvi-713a39193">Ritam Singhvi</a></div>
        
        
        {{>footer}}
    </body>


</html>